@font-face {
  font-family: 'picomoon';
  src:  url('icomoon_922q2t.eot');
  src:  url('icomoon_922q2t.eot#iefix') format('embedded-opentype'),
    url('icomoon_922q2t.ttf') format('truetype'),
    url('icomoon_922q2t.woff') format('woff'),
    url('icomoon_922q2t.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="picon-"], [class*=" picon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'picomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.picon-email:before {
  content: "\e900";
}
.picon-networking:before {
  content: "\e901";
}
.picon-photograph:before {
  content: "\e902";
}
.picon-translation:before {
  content: "\e903";
}
.picon-stethoscope:before {
  content: "\e904";
}
.picon-skincare:before {
  content: "\e905";
}
.picon-computer:before {
  content: "\e906";
}
.picon-graphic-designer:before {
  content: "\e907";
}
.picon-checkmark:before {
  content: "\e908";
}
.picon-mission:before {
  content: "\e909";
}
.picon-team:before {
  content: "\e90a";
}
.picon-increment:before {
  content: "\e90b";
}
.picon-right-arrow:before {
  content: "\e90c";
  color: #012e52;
}
.picon-left-arrow:before {
  content: "\e90d";
}
.picon-handshake:before {
  content: "\e90e";
}
.picon-thumbs-up:before {
  content: "\e90f";
}
.picon-creativity:before {
  content: "\e910";
}
.picon-smartphone:before {
  content: "\e911";
}
.picon-nanotechnology:before {
  content: "\e912";
}
.picon-browser:before {
  content: "\e913";
}
.picon-web:before {
  content: "\e914";
}
.picon-crowdfunding:before {
  content: "\e915";
}
.picon-crowdfunding-1:before {
  content: "\e916";
}
.picon-crowdfunding-2:before {
  content: "\e917";
}
.picon-crowdfunding-3:before {
  content: "\e918";
}
.picon-fundraise:before {
  content: "\e919";
}
.picon-crowdfunding-4:before {
  content: "\e91a";
}
.picon-speech-bubble:before {
  content: "\e91b";
}
.picon-chat:before {
  content: "\e91c";
}
.picon-plus:before {
  content: "\e91d";
}
.picon-minus:before {
  content: "\e91e";
}
.picon-add:before {
  content: "\e91f";
}
.picon-search:before {
  content: "\e920";
}
.picon-call:before {
  content: "\e921";
}
.picon-email-1:before {
  content: "\e922";
}
.picon-location:before {
  content: "\e923";
}
.picon-entrepreneur:before {
  content: "\e924";
}
.picon-location-1:before {
  content: "\e925";
}
.picon-contact:before {
  content: "\e926";
}
.picon-pin:before {
  content: "\e927";
}
.picon-check:before {
  content: "\e928";
}
.picon-checked:before {
  content: "\e929";
}
.picon-stethoscope-1:before {
  content: "\e92a";
}
.picon-tshirt:before {
  content: "\e92b";
}
.picon-video-camera:before {
  content: "\e92c";
}
.picon-project-management:before {
  content: "\e92d";
}
.picon-crowdfunding-5:before {
  content: "\e92e";
}
.picon-badge:before {
  content: "\e92f";
}
.picon-debit-card:before {
  content: "\e930";
}
.picon-payment:before {
  content: "\e931";
}
.picon-wallet:before {
  content: "\e932";
}
.picon-phone-call:before {
  content: "\e933";
}
.picon-email-2:before {
  content: "\e934";
}
.picon-success:before {
  content: "\e935";
}
.picon-budget:before {
  content: "\e936";
}
.picon-mission-1:before {
  content: "\e937";
}
.picon-mission-2:before {
  content: "\e938";
}
.picon-relationship:before {
  content: "\e939";
}
.picon-scrum:before {
  content: "\e93a";
}
.picon-recommend:before {
  content: "\e93b";
}
.picon-group:before {
  content: "\e93c";
}
.picon-campaign:before {
  content: "\e93d";
}
.picon-miscellaneous:before {
  content: "\e93e";
}
.picon-crowdfunding-6:before {
  content: "\e93f";
}
.picon-shopping-cart:before {
  content: "\e940";
}
.picon-video-camera-1:before {
  content: "\e941";
}
.picon-camera:before {
  content: "\e942";
}
.picon-magnifying-glass:before {
  content: "\e943";
}
.picon-telephone:before {
  content: "\e944";
}
.picon-completed-task:before {
  content: "\e945";
}
.picon-customer-service:before {
  content: "\e946";
}
.picon-development:before {
  content: "\e947";
}
.picon-customer-service-1:before {
  content: "\e948";
}
.picon-place:before {
  content: "\e949";
}
.picon-phone:before {
  content: "\e94a";
}
.picon-schedule:before {
  content: "\e94b";
}
.picon-software:before {
  content: "\e94c";
}
.picon-edit-tools:before {
  content: "\e94d";
}
.picon-app-development:before {
  content: "\e94e";
}
.picon-content-creator:before {
  content: "\e94f";
}
.picon-advertisig-agency:before {
  content: "\e950";
}
.picon-assurance:before {
  content: "\e951";
}
.picon-crm:before {
  content: "\e952";
}
.picon-agreement:before {
  content: "\e953";
}
.picon-24-hours:before {
  content: "\e954";
}
.picon-consultation:before {
  content: "\e955";
}
.picon-knowledge:before {
  content: "\e956";
}
.picon-coding:before {
  content: "\e957";
}
.picon-development-1:before {
  content: "\e958";
}
.picon-agile:before {
  content: "\e959";
}
.picon-consulting:before {
  content: "\e95a";
}
.picon-innovation:before {
  content: "\e95b";
}
.picon-digital-services:before {
  content: "\e95c";
}
.picon-graphic-design:before {
  content: "\e95d";
}
.picon-technology:before {
  content: "\e95e";
}
.picon-meeting:before {
  content: "\e95f";
}
.picon-telephone-1:before {
  content: "\e960";
}
.picon-help:before {
  content: "\e961";
}
.picon-customer-review:before {
  content: "\e962";
}
.picon-consultant:before {
  content: "\e963";
}
.picon-quote:before {
  content: "\e964";
}
.picon-guarantee:before {
  content: "\e965";
}
.picon-save-money:before {
  content: "\e966";
}
.picon-brainstorm:before {
  content: "\e967";
}
.picon-rocket:before {
  content: "\e968";
}
.picon-puzzle-pieces:before {
  content: "\e969";
}
.picon-address:before {
  content: "\e96a";
}
.picon-calling:before {
  content: "\e96b";
}
.picon-email-3:before {
  content: "\e96c";
}
